@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}